{% extends 'base.html' %}

{% block content %}
	<div class="container-fluid">
		<h1 class="display-1 text-center">Flexie</h1>
		<p class="lead text-center" id="clean">A tool to help you detect fraudulent documents in insurance</p>
		<div class="container-fluid" id="demo">
			<div class="text-center">
				<!-- Button trigger modal -->
				<button class="btn btn-danger center" data-target="#basicExampleModal" data-toggle="modal" type="button">HOW IT WORKS</button> <!-- Modal -->
			</div>
			
			
			<div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="basicExampleModal" role="dialog" tabindex="-1">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">How Flexie Works</h5><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
						</div>
						<div class="modal-body" id="modalbody">
							<p>Upload your document</p>								
							<p>Click and see if it's flagged for fraud! </p>
						</div>
						<div class="modal-footer">
							<button class="btn btn-danger" data-dismiss="modal" type="button">Got it</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="brandData" id="userform">
			<div class="text-center border border-light p-5">
				<p class="h4 mb-4"></p>
				
				<div class="form-row mb-4 form-group">
					
					<form method="post" class="form-outline">

						{% csrf_token %}
						{{ form|crispy }}	
						
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
