{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block content %}
		<div class="container-fluid">
			<h1>{{about}}</h1>
			<p class="about_css">We have undertaken the task to solve the problem of fraud within the insurance ecosystem.</p>
            <p class="about_css">We intend to detect fraud at two points or junctures. During the initial application for coverage and during the claims application. </p>
            <p class="about_css">We'll begin with fraud detection during claim application.</p>              
            <p class="about_css"> The later phase of the project will look at fraud detection during coverage application.</p>
            <p class="about_css">We’ll try to cover both medical and motor insurance types in version one of our project.</p>
            
		</div>

        <div class="form-row mb-4">
            <div class="col-md-3 d-flex pb-4">
                <div class="card text-center d-flex">
                    <div class="card-body">
                    <h5 class="card-title">A docs approach</h5>
                    <p class="card-text">
                        We’ll use the docs that the customer is using during the claim application process
                    </p>
                    </div>
                </div> 
            </div> 

            <div class="col-md-3 d-flex pb-4">
                <div class="card text-center d-flex">
                    <div class="card-body">
                    <h5 class="card-title">Flagging</h5>
                    <p class="card-text">
                        If the customer is found to be fraudulent, they are flagged and the model automatically denies their claim. 
                    </p>
                    </div>
                </div> 
            </div> 

            <div class="col-md-3 d-flex pb-4">
                <div class="card text-center d-flex">
                    <div class="card-body">
                    <h5 class="card-title">Eliminate manual decision-making</h5>
                    <p class="card-text">
                        The goal is to eliminate manual decision-making in the claims process'.
                    </p>
                    </div>
                </div> 
            </div> 

        </div>

        <div class=" modalcontact container-fluid">
            <h1>Questions?</h1>
            <p>We are dedicated to ensuring that using our product is as intuitive as possible</p>
            <p>We are also here, just in case you encounter any challenges while using it.</p>
            <p>Do you have any question regarding our product or company?</p>
            <p>Click the button below:</p>
        </div>

        <div class="modalcontact">
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#basicExampleModal">
                CONTACT US
            </button>
            <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Talk to us!</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                 </button>
                         </div>
                        <div id="modalbody" class="modal-body">
                                <p>Call +254-712-227-589</p>
                                <p>Email: ndutaabby@gmail.com</p>                                
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

{% endblock content %}
